### NOTE:
###
### This file is only useful when creating a "source distribution":
### Reference: https://packaging.python.org/guides/using-manifest-in/
### Command: $ python -m build --sdist ...

include VERSION
