# File containing all formatting tools options

[tool.black]
line-length = 100
target-version = ['py37']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs
    | \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
)
'''

[tool.isort]
force_single_line = true
ignore_whitespace = true
only_sections = true
profile = "black"

[tool.mypy]
cache_dir = "/dev/null"
allow_redefinition = true
ignore_missing_imports = true
